.bd-container {
    max-width: 100%;
    justify-content: left;
}

@media(min-width: 960px) {
    .bd-page-width {
        max-width:100%;
    }
}

.bd-article-container {
    max-width: 90em !important;
}

@media (min-width: 992px) {
    .bd-sidebar-primary {
        flex-basis:15%
    }
}